html {
    position: relative;
    min-height: 100%;
}

footer {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}